body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #121212; /* Dark background */
	color: #e0e0e0; /* Light text for contrast */

}

.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.content {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 10vw; /* Responsive padding based on the viewport width */
	overflow: hidden; /* Prevents scrollbars from appearing */
	box-sizing: border-box; /* Ensures padding is included in the width calculation */
}

img {
	max-width: 33vw;  /* 33% of the viewport width */
	max-height: 33vh;  /* 33% of the viewport height */
	width: auto;
	height: auto;

	filter: brightness(0.8) contrast(1.2); /* Slightly adjust image visibility */
}

#frontpage-quote {
	width: 80%; /* Restrict width for better alignment */
	max-width: 800px; /* Ensures it doesn't stretch too far on large screens */
	margin: 0 auto; /* Centers the quote container */

	color: #e0e0e0; /* Light text for readability */
}

#quote-text {
	display: block;
	text-align: left;
	font-size: 1.2rem; /* Increase font size slightly */
}

#quote-author {
	display: block;
	text-align: right;
	font-size: 1.2rem; /* Keep the font size close to the quote */
	margin-top: 5px;
	padding-right: 10px; /* Small padding to ensure it doesn't touch the right edge */

   color: #b0b0b0; /* Slightly dimmer for subtle contrast */
}

/*
.sig-image {
	width: 17vw;  /* 10% of the viewport width */
	height: auto; /* Maintains the aspect ratio */
}
*/