body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
}

.content {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 10vw; /* Responsive padding based on the viewport width */
	overflow: hidden; /* Prevents scrollbars from appearing */
	box-sizing: border-box; /* Ensures padding is included in the width calculation */
}

img {
	max-width: 33vw;  /* 33% of the viewport width */
	max-height: 33vh;  /* 33% of the viewport height */
	width: auto;
	height: auto;
}

.sig-image {
	width: 21vw;  /* 10% of the viewport width */
	height: auto; /* Maintains the aspect ratio */
}